.success
    background-color: $dark-green;
    .content
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-block 
            width: 50%;
        .video-block
            border: 4px solid transparent;
            border-radius: 15px;
            overflow: hidden
            width: 50%;
            height: 315px;