section.how_it_works
    .content.pt-170#how_it_works
        .main-text
            span.main-font-bigger How it works
            h2.h2-font.color-green#how_it_works_h2 Understand & Release the stress in 3 steps
            p.main-font#how_it_works_p Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.
        .steps-blocks
            .step
                .step-top.pt-pb-50
                    img(src="static/img/01.png", alt="").step-bg
                    h3.center.h3-font Personalize
                p.main-font.mb-60 Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
                img(src="static/img/step1.png", alt="")
            .step
                .step-top.pt-pb-50
                    img(src="static/img/02.png", alt="").step-bg
                    h3.center.h3-font Write & Understand
                p.main-font.mb-60 Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
                img(src="static/img/step2.png", alt="")
            .step
                .step-top.pt-pb-50
                    img(src="static/img/03.png", alt="").step-bg
                    h3.center.h3-font Alivio!
                p.main-font.mb-60 Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
                img(src="static/img/step3.png", alt="")

    
        