section.main
    .content 
        .text-box
            h1.h1-font.color-green Be aware, Manage well.
            p.main-font.mb-16 Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            a(href="#").main-font.green-btn Find Your Way