section.our_product#last_section
    .content.pt-pb-120
        .img-box.pb-75.pl-60
            img(src="static/img/girl.png", alt="").main-img
            .small_card.p-20-60
                h4.h4-font.center Customized For
                img(src="static/img/girl.png", alt="").card-img
                p.lato-12.center Mikayla
                h5.h5-font Your custom contents
                ul
                    li.lato-10 Understand Your Stress
                    li.lato-10 Anger Management
        .text-block.pl-60
            span.main-font-bigger Our product
            h2.h2-font.color-green You tell us your stress, We make your diary
            p.main-font.pt-pb-50 Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            a(href="#").main-font.green-btn Find Your Way