section.success
    .content.pt-pb-200
        .text-block 
            h2.h2-font.color-white Let's hear about Kayla's success story
            p.color-white.pt-pb-50 See how well Alivio works in a real customer’s life. 
            a(href="#").main-font.green-btn Let’s get started
        .video-block
            iframe(width="100%" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        