.swticher-wrapper.switcher-shadow
    .arrows#arrows
        .arrow
        .arrow
        .arrow
    .switcher-content#switcher
        include ../svg/lamp

#show_switcher  
    include ../svg/lamp_mini