.footer
    background-color: $dark-green
    .content
        .header_logo
            svg
                path
                    fill: #ffffff
        ul 
            li 
                a 
                    &:hover
                        color: $green;
            