header
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid $border-gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .header_logo
        height: 100%;
    nav
        ul 
            display: flex
            li 
                &:not(:first-child)
                    margin-left: calculateWidth(70)
    .header_buttons
        display: flex
        li 
            &:not(:first-child)
                margin-left: calculateWidth(35)